.navContainer {
  width: 100%;
  height: 15vh;
  color: var(--light-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url("/navBarBg.png");
  background-position: 50%;
  background-size: cover;
  background-repeat: repeat-x;
}
.navSubContainer1 {
  margin-left: 2vw;
  font-size: 1.5vw;
  font-weight: 900;
  cursor: pointer;
}
.navSubContainer2 {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}
.navSubContainer2 > div {
  cursor: pointer;
}
.navItems{
  color:var(--light-color);
  text-decoration: none;
  font-weight: 900;
}
.navItems:hover{
  transform: scale(1.2);
}